#tmenu .icon-purge {
  width:16px;
  margin-bottom:-2px;
  position:relative;
  background:url("../icons/zap.svg") center center no-repeat;
  overflow:hidden;
  white-space:nowrap;
  text-indent:28px;
}